<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    {% block content %}

        <h1>All Chats</h1>

        <ul>
           {% for conversation in conversations %}

                <li>
                    <a href="{% url 'chat' conversation.id %}"> {{ conversation.sender }}</a>
                </li>

           {% endfor %}
        </ul>

    {% endblock %}
</body>
</html>